<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Mascota</h3>
    <form (ngSubmit)="onSumbit()"></form>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="name" [(ngModel)] = "pet.name" name="nombre">
        <label>Categoria</label>
        <input type="text" class="form-control" id="category" [(ngModel)] = "pet.category" name="category">
        <label>Estado</label>
        <input type="text" class="form-control" id="estado" [(ngModel)] = "pet.name" name="estado">
    </div>
    <button class="btn btn-success">Guardar</button>
</div>
