<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="pet" routerLinkActive="active" class="nav-link">Lista de mascotas</a>
    </li>
    <li class="nav-item">
      <a routerLink="registrar-pet" routerLinkActive="active" class="nav-link">Añadir Mascota</a>
    </li>
    <li class="nav-item">
      <a routerLink="get-by-id-pet" routerLinkActive="active" class="nav-link">Buscar Mascota</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
